<!DOCTYPE html>
<html lang="en">

{% extends "phonebook/base.html" %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="jumbotron" >


    <h2 class="text-center">Phone Book</h2>
</div>
<div class="container">


<form action="/phonebook/" method="post">
    <div class="form-group">
{% csrf_token %}
    <p> <code class="form-control">Name: {{ form.name }}</code> <br>
        <code class="form-control"> Phone Number: {{form.phone_number }}</code>
    </p>

    <button type="submit" class="btn btn-success"> Submit </button>
    </div>
</form>
    </div>





<div class="container">
{% for  f in forms %}
<p> <code class="text-dark">Name:{{ f.name }}</code>

    <code class="text-dark">Phone Number:{{ f.phone_number }} </code>
    <a  href="/phonebook/delete/{{ f.id }}" ><button class="btn-primary">  &times;</button></a>
</p>

{% endfor %}

    </div>

{% endblock %}
</body>
</html>