<!DOCTYPE html>
{% extends 'onestopshop/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

{% block content %}
<div class="jumbotron" style="background-image: linear-gradient(tomato,orange)">
    <div class="container text-center">
<h1 >One Stop Shop</h1>
        <a href="/onestopshop"><button class="btn btn-success">Back</button></a>
</div>
</div>
<div class="container">
    <form action="/onestopshop/add" method="post">
    {% csrf_token %}
    <code class="form-control" > Title{{ form.title }}
  Description:{{ form.description }}
 Price: {{ form.price }}
    </code>
        <code class="form-control">
   Unit: {{form.unit }}
  Quantity limited: {{ form.quantity }}
            Image Link:{{ form.image }}</code>
<br>
        <input type="submit" class="btn btn-success" value="Add"/>
    </form>
</div>

{% endblock %}


</body>
</html>