<!DOCTYPE html>
{% extends 'onestopshop/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="jumbotron" style="background-image: linear-gradient(tomato,orange)">
    <div class="container text-center">
<h1 >One Stop Shop</h1>
</div>
</div>

<form action="/onestopshop/buy" method="post">

<div class="container">

    {% for f in forms %}
     {% csrf_token %}
    <div class="btn">
    <p> <code><img src="{{f.image}}" width="150" height="120"/></code></p>
    <p>  <code> {{ f.title }} </code></p>

    <p>   <code> {{ f.description}}</code></p>
    <p>   <code> ${{ f.price}} / {{f.unit}} unit</code></p>
   <p><code> Quantity: <select name="{{f.title}}">
        <option value="0">None</option>
        {%  for n in f.quantity %}
        <option value="{{n}}">{{n}}</option>
        {% endfor %}
   </select> </code></p>
    </div>
    {% endfor %}
</div>
    <div class="container" >
     <button type="sumbit" class="btn btn-success">Checkout</button>
        </div>
</form>

{% endblock %}
</body>
</html>