<!DOCTYPE html>
{% extends "jumbleword/base.html" %}

{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="jumbotron" style="background-image: linear-gradient(tomato,orange)">
    <div class="container text-center">
<h1 >One Stop Shop</h1>
</div>


    </div>


<div class="container text-center">

    <a href="/onestopshop/add" ><button class="btn btn-success">Add </button></a>

        <a href="/onestopshop/buy" ><button class="btn btn-primary">Buy </button></a>

</div>

{% endblock %}
</body>
</html>